body, html {
    height: 100%;
}

#container {
    position: relative;
}

#sidebar {
    background: #305A6C url("../images/background.png") repeat-x top left;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 3em;
    padding-left: 40px;
    width: 230px;
    overflow: auto;
    min-height: 100%;
    
    #navigation {
        padding-top: 1.5em;
    }
}

#main {
    background: #fff;
    margin-left: 270px;
}

#content {
    padding: 3em;
    width: 550px;
    
    h1 {
        margin-top: 0;
    }

    img {
        max-width: 100%;
    }
}