body {
    color: #333;
    font: medium/150% Georgia, serif;
}

a {
    @include link-colors(
        $normal: #306A80,
        $hover: #0F425D,
        $visited: #306A80
    );
}

h1, h2, h3, h4 {
    margin: 1em 0;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 150%;
}

h3 {
    font-weight: bold;
}

h4 {
    text-transform: uppercase;
    font-size: 85%;
    letter-spacing: 1px;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #D7D7D7;
}

p, ul, ol {
    margin: 1.5em 0;
    
    em {
        font-style: italic;
        font-size: 95%;
    }
}

p {
    &.todo {
        color: #c03e3e;
        font-style: italic;
    }
    
    &.editorial-note {
        padding: 0.5em 1.5em;
        background: #DBEED8;
    }
}

pre {
    padding: 0.5em 1.5em;
    background: #EEE;
    overflow: auto;
}

code {
    font-family: "Courier New", Courier;
}

#header h1 {
    font-family: Verdana, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 150%;
    color: #D7D7D7;

    a {
        @include link-colors(#D7D7D7, #FFF);
    }
}

#navigation {
    margin: 0;
    margin-top: -12px;
    
    li {
        position: relative;
        padding: 18px 0;
    }
    
    a {
        color: #838383;
        text-decoration: none;
        position: absolute;
        display: inline-block;
        
        &:hover {
            color: #306A80;
            border-bottom: 2px solid #306A80;
        }
    }
}

#content li {
    list-style-type: square;
}

#footer {
    background: #F6F6F6;
}