body {
    color: #333;
    font: medium/150% Georgia, serif;
}

a {
    @include link-colors(
        $normal: #306A80,
        $hover: #0F425D,
        $visited: #306A80
    );
}

h1, h2, h3, h4 {
    margin: 1em 0;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 150%;
}

h3 {
    font-weight: bold;
}

h4 {
    text-transform: uppercase;
    font-size: 85%;
    letter-spacing: 1px;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #D7D7D7;
}

p, ul, ol {
    margin: 1.5em 0;
    
    em {
        font-style: italic;
        font-size: 95%;
    }
}

p {
    &.todo {
        color: #c0943e;
        font-style: italic;
    }
    &.note {
        padding: 0.5em 1.5em;
        background: #efe2c9;
    }
    &.tip {
        padding: 0.5em 1.5em;
        background: #DBEED8;
    }
    &.warning {
        padding: 0.5em 1.5em;
        background: #9d2424;
        color: #f1f1f1;
    }
}

pre {
    padding: 0.5em 1.5em;
    background: #EEE;
    overflow: auto;
}

code {
    font-family: "Courier New", Courier;
}

#header p {
    font-size: 75%;
    font-style: italic;
    margin: 0;

    a {
        @include inline-block;
        @include border-radius(3px);
        text-decoration: none;
        color: #333;
        background: #D7D7D7;
        padding: 0 6px;
        
        &:hover {
            background: #FFF;
        }
    }
}

#navigation {
    margin: 0;
        
    a {
        @include link-colors(#D7D7D7, #FFF);
        text-decoration: none;
        display: block;
        padding: 9px 0;
    }
}

#content li {
    list-style-type: square;
}