---
title: Table of Contents
---

<h1>Table of Contents</h1>

<% chapters.delete_if { |i| i.identifier =~ /table-of-contents/ }.each do |chapter| %>
  <h3><%= titleize(chapter.identifier) %></h3>
  <ul>
    <% headers(snapshot(chapter), "h3").each do |header| %>
      <li><a href="<%= chapter.path %>/index.html#<%= to_id(header.text) %>"><%= header.text %></a></li>
    <% end %>
  </ul>
<% end %>